header {
  z-index: 20;
  height: 93px;
  border-top: 10px solid #1e87f0;
}

header #logo {
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
  font-size: 27px;
}

header #logo span[class*="flaticon-"]:before {
  font-size: 30px;
margin-right: 5px;
top: 2px;
position: relative;
font-weight: normal;
}

#page-container {
  position: relative;
}

#map {
  height: calc(75vh - 93px) !important;
}

.uk-padding-tiny {
  padding: 10px;
}

.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 0;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content p {
  margin: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  padding: 5px;
  width: 14px;
  background-color: #1e87f0;
  color: #fff;
  /*border-left: 2px solid #1e87f0;
border-bottom: 2px solid #1e87f0;*/
    z-index: 10;
}

.leaflet-container a.leaflet-popup-close-button::selection {
  background-color: transparent;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  background-color: #fff;
  color: #1e87f0;
}

.leaflet-bar {
  border: none !important;
}

.leaflet-bar a {
  border-radius: 4px;
  margin-bottom: 1px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  color: #999;
}

.leaflet-draw-toolbar a {
  background-image: none;
}

.leaflet-draw-toolbar a:before {
  font-family: Flaticon;
  font-size: 15px;
  font-style: normal;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon:before {
  content: "\f12f";
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle:before {
  content: "\f12d";
  font-size: 13px;
}

.listing-popup-wrapper {
  width: 400px;
  max-width: 100%;
}

.listing-popup-wrapper .images-content {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.listing-popup-wrapper img {
  width: 100%;
  height: 100%;
}

.listing-popup-wrapper .uk-slidenav {
  color: #fff;
}

.listing-popup-content {
  padding: 10px;
}

.listing-popup-content .mls-id {
  font-size: 10px;
  padding-top: 10px;
}

.uk-text-medium {
  font-size: 1rem;
  line-height: 1.5;
}

.uk-form-group {
  display: flex;
}

.uk-form-group .uk-input-group-addon {
  min-width: 30px;
  background-color: #f9f5f5;
  border: 1px solid #e5e5e5;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-detail-modal {
  padding: 40px;
  background: rgba(0,0,0,0.6);
}

.listing-detail {
  padding: 0;
  z-index: 30;
}

.listing-detail-content-container {
  /*margin: 50px;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  overflow: scroll;*/
}

.listing-detail-content .uk-slidenav {
  color: #fff;
}

#spinner {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
  opacity: 0;
  background: rgba(0,0,0,0.6);
}


[class*="ratio"]{
	position: relative;
}
[class*="ratio"]:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

[class*="ratio"] img{
  width: 100%;
  height: 100%;
}

[class*="ratio"] > *{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.ratio2_1:before{
	padding-top: 50%;
}
.ratio1_2:before{
	padding-top: 200%;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio16_9:before{
	padding-top: 56.25%;
}


dl.left-right-definition-list dt {
  float: left;
}

dl.left-right-definition-list dt {
  font-weight: bold;
}

dl.left-right-definition-list dd {
  margin-bottom: 8px;
  text-align: right;
}

#map {
  z-index: 1;
}

#search-box {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
  margin-top: -130px;
  z-index: 10;
}

/* Tablet landscape and bigger */
@media (min-width: 960px) {
  #search-box #search-box-search-btn {
    margin-top: 25px;
  }
}

.slides{
    padding:0;
    margin:0;
}


#main-navbar {
  display: none;
}

@media (min-width: 640px) {
  #main-navbar {
    display: flex;
  }

  #mobile-navbar {
    display: none;
  }
}

@media (max-width: 770px) {
  #logo .icon-logo:before {
    font-size: 27px !important;
    margin-right: 1px !important;
  }

  #logo .text-logo {
    font-size: 23px;
  }
}

#offcanvas-nav {
  z-index: 200;
}

.uk-card {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
}

ul.uk-navbar-nav li:last-child a {
  padding-right: 0;
}

.uk-text-white {
  color: white !important;
}

.uk-text-dark-grey {
  color: #999 !important;
}

.uk-background-light-grey {
  background-color: #fbfbfb;
}

/*.uk-background-primary, .uk-button-primary {
  background-color: #43becc !important;
}*/

.search-results-property-features span[class*="flaticon-"]:before {
  font-size: 17px;
  margin-right: 3px;
}

.uk-button-default:disabled, .uk-button-primary:disabled, .uk-button-secondary:disabled, .uk-button-danger:disabled {
  background-color: #e5e5e5;
  color: #999;
  border-color: #d8d7d7;
}

/*#toggle-filters-btn {
  z-index: 5000;
  margin: 10px 10px 0 0;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.20);
}*/

#lower-container {
  margin-top: 0;
}

/*.show-lower-container-mobile {
  margin-top: calc(-100vh + 74px) !important;
}

@media (max-width: 959px) {
  .uk-remove-padding\@m {
    padding: 0 !important;
  }

  .uk-remove-margin-top\@m {
    margin-top: 0 !important;
  }
}

*/

#mobile-bottom-menu {
  display: none;
  z-index: 100;
  padding: 0 20%;
}

#mobile-bottom-menu > button {
  padding: 0 20%;
}

#mobile-bottom-menu > button.active {
  background-color: #479cf3 !important;
}

#remove-shape-btn {
  z-index: 10;
  margin: 10px;
  border-radius: 4px;
}

.leaflet-control-attribution, .leaflet-control-attribution > * {
  color: #6b6969 !important;
}

#search-panel-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.uk-fixed-alert {
  position: absolute;
  z-index: 300;
  align-self: center;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
  padding-right: 40px;
  top: -117px;
  width: 510px;
  max-width: 100%;
  border: 1px solid #bee4d6;
}

a.modal-dialog {
  color: inherit;
  background-color: transparent;
}

a.modal-dialog:hover {
  text-decoration: none;
}

@media (max-width: 768px) {

  .listing-detail-modal {
    padding: 0;
    background: none;
  }

  .listing-detail-modal .uk-modal-dialog {
    height: 100%;
  }

  body.landscape .open-listing-details-btn {
    display: none;
  }

  .uk-fixed-alert {
    position: fixed;
    top: initial;
    width: inherit;
    max-width: initial;
  }

  body.portrait .listing-popup-wrapper {
    width: 250px;
  }

  body.portrait .listing-popup-wrapper .images-content {
    height: 125px;
  }

  body.landscape .listing-popup-wrapper {
    width: 200px;
  }

  body.landscape .listing-popup-wrapper .images-content {
    height: 100px;
  }


  #lower-container {
    padding-bottom: 0;
  }

  #remove-shape-btn {
    margin: 15px;
    top: 64px;
  }

  #lower-container > * {
    padding-bottom: 64px;
    padding-top: 64px;
  }

  #mobile-bottom-menu {
    display: flex;
  }

  #mobile-bottom-menu button:active, #mobile-bottom-menu button:hover {
    background-color: transparent;
  }

  #mobile-results-button .results-num {
    background-color: white;
    color: #1e87f0;
    margin-left: 5px;
    margin-top: -6px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 12px;
    height: 15px;
  }

  .uk-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  header {
    height: 64px;
  }

  header > .uk-container {
    height: 54px;
  }

  .uk-navbar-nav>li>a {
    height: 100%;
  }

  .uk-navbar-toggle {
    padding-right: 0;
  }

  .mobile-panel {
    /*transition: all 0.3s ease;*/
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    overflow-y: scroll;
    left: 0;
    top: 100vh;
    display: none;
  }

  .mobile-panel.lifted {
    top: 0;
    display: block;
  }

  #search-box {
    margin: 0;
  }




  #map {
    height: 100% !important;
  }

  body {
    -webkit-overflow-scrolling: touch;
  }

  #mobile-bottom-menu {
    position: fixed !important;
    min-height: 50px;
    /*display: none;*/
  }

  header {
    position: fixed !important;
    width: 100%;
    /*display: none;*/
  }

  #map-panel, #search-panel, #search-results-panel {
    padding-top: 64px;
    height: calc(100vh - 114px) !important;
  }

  #map-panel.lifted, #search-panel.lifted, #search-results-panel.lifted {
    height: calc(100vh - 50px) !important;
  }
}
