<div class='uk-modal-body uk-padding-20px'>
  <button class="uk-modal-close-full" type="button" uk-close></button>
  <div class="listing-detail">
    <div class="listing-detail-content-container">
      <div class="listing-detail-content">

        <div class="listing-detail-content-header uk-padding-small uk-padding-remove-horizontal uk-padding-remove-top">

            <div class="uk-flex uk-flex-column uk-flex-auto uk-flex-1@s">
              <h2 class="uk-margin-remove">About</h2>
              <p class="uk-margin-remove">A little information regarding the developer of this site</p>
            </div>

        </div>

        <div>
          <div class="uk-grid-medium" uk-grid>
            <div class="uk-width-1-1">
              <div class='images uk-inline uk-light uk-width-1-1'>
                <div class='images-content'>
                  <img src="img/chris-banner.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="uk-width-1-1">
              <div class="uk-card uk-card-body uk-background-white">
                <h4 class="uk-heading-divider">Who I am</h4>
                <p>Unfortunately, HomeSearch.com is not a site for any actual company. It is, however, a conceptual site to demonstrate the abilities of its developer, <a href="http://www.chrisseckler.com">Chris Seckler</a>. It is built using HTML, CSS, and JavaScript. It uses an API to access demo MLS data, but can be switched over to use actual MLS data at any moment. Users can search for property listings via the map search tools, search filters, or a combination of both. It is optimized for use both on mobile and desktop environments.</p>
                <p>If you are looking for a solution for your real estate site, I would love to create the optimal experience for your customers' needs. Please <a href="mailto:contact@chrisseckler.com">email Chris Seckler</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
