<div class='uk-modal-body uk-padding-20px'>
  <button class="uk-modal-close-full" type="button" uk-close></button>
  <div class="listing-detail">
    <div class="listing-detail-content-container">
      <div class="listing-detail-content">

        <div class="listing-detail-content-header uk-padding-small uk-padding-remove-horizontal uk-padding-remove-top">
          <div class="uk-flex uk-flex-column uk-flex-row@s">
            <div class="uk-flex uk-flex-column uk-flex-auto uk-flex-1@s">
              <h2 class="uk-margin-remove"><%= address.streetNumber %> <%= address.streetName %></h2>
              <p class="uk-margin-remove"><%= address.city %>, <%= stateAbbreviation %> <%= address.postalCode %></p>
            </div>

            <h4 class="uk-margin-small-top uk-margin-remove-bottom uk-margin-remove@s">$<%= listPrice %></h4>
          </div>
        </div>

        <div>
          <div class="uk-grid-medium" uk-grid>
            <div class="uk-width-1-1">
              <div class='images uk-inline uk-light uk-width-1-1'>
                <div class='images-content'>
                  <ul class='slides'>
                    <% _.forEach(photos, function(photo) { %>
                      <li class="ratio16_9"><div><img class='uk-width-1-1' src='<%= photo %>' alt=''/></div></li>
                    <% }); %>
                  </ul>
                </div>
                <div class="custom-navigation">
                  <a class="uk-position-center-left flex-prev uk-slidenav-large" href="" uk-slidenav-previous></a>
                  <a class="uk-position-center-right flex-next uk-slidenav-large" href="" uk-slidenav-next></a>
                </div>
              </div>
            </div>
            <div class="uk-width-2-3@m" style="margin-top: 20px;">
              <div class="secondary-tab-switcher">
                <div class="uk-card uk-card-body uk-background-white">
                  <ul uk-tab>
                    <li><a href="#">Description</a></li>
                    <li><a href="#">Address</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#" id="property-details-map-btn">Map</a></li>
                  </ul>

                  <ul class="uk-switcher uk-margin">
                    <li>
                      <h4 class="uk-heading-divider">Description</h4>
                      <p><%= remarks %></p>
                    </li>
                    <li>
                      <h4 class="uk-heading-divider">Address</h4>
                      <ul class="uk-column-1-2 uk-column-1-3@s uk-list">
                        <li><strong>Address: </strong><%= address.full %></li>
                        <li><strong>City: </strong><%= address.city %></li>
                        <li><strong>State: </strong><%= address.state %></li>
                        <li><strong>Zip Code: </strong><%= address.postalCode %></li>
                        <li><strong>Country: </strong><%= address.country %></li>
                        <li><strong>Neighborhood: </strong><%= geo.marketArea %></li>
                      </ul>
                    </li>
                    <li>
                      <h4 class="uk-heading-divider">Features</h4>
                      <ul class="uk-column-1-2 uk-column-1-3@s uk-list">
                        <% _.forEach(amenitiesSplit, function(amenity) { %>
                          <li style="line-height: 1.3"><div class="uk-flex"><span class="uk-margin-small-right" uk-icon="icon: check"></span> <%= amenity %></div></li>
                        <% }); %>
                      </ul>
                    </li>
                    <li>
                      <h4 class="uk-heading-divider">Map</h4>
                      <div id="property-details-map" class="property-details-map" style="width: 100%; height: 350px;"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="uk-width-1-3@m" style="margin-top: 20px;">
              <div class="uk-card uk-card-body uk-background-white">
                <h4 class="uk-heading-divider">Quick Summary</h4>

                <dl class="left-right-definition-list">
                  <dt>Location</dt>
                  <dd><%= address.city %>, <%= stateAbbreviation %> <%= address.postalCode %></dd>

                  <dt>Price</dt>
                  <dd><span class="tag price">$<%= listPrice %></span></dd>

                  <dt>Status:</dt>
                  <dd><%= mls.status %></dd>

                  <dt>Year Built:</dt>
                  <dd><%= property.yearBuilt %></dd>

                  <dt>Area:</dt>
                  <dd><%= property.area %> Sq Ft</dd>

                  <dt>Beds:</dt>
                  <dd><%= property.bedrooms %></dd>

                  <dt>Baths:</dt>
                  <dd><%= property.bathsFull %></dd>

                  <dt>Garage Spaces:</dt>
                  <dd><%= _.round(property.garageSpaces) %></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
