/*
  Flaticon icon font: Flaticon
  Creation date: 14/03/2017 02:49
  */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-world-location:before { content: "\f100"; }
.flaticon-world:before { content: "\f101"; }
.flaticon-interface:before { content: "\f102"; }
.flaticon-magnifying-glass:before { content: "\f103"; }
.flaticon-vehicle-1:before { content: "\f104"; }
.flaticon-vehicle:before { content: "\f105"; }
.flaticon-car-1:before { content: "\f106"; }
.flaticon-car:before { content: "\f107"; }
.flaticon-bed-2:before { content: "\f108"; }
.flaticon-double-bed:before { content: "\f109"; }
.flaticon-bed-1:before { content: "\f10a"; }
.flaticon-bed:before { content: "\f10b"; }
.flaticon-shower-1:before { content: "\f10c"; }
.flaticon-shower:before { content: "\f10d"; }
.flaticon-select-an-objecto-tool:before { content: "\f10e"; }
.flaticon-home-5:before { content: "\f10f"; }
.flaticon-business-2:before { content: "\f110"; }
.flaticon-gps:before { content: "\f111"; }
.flaticon-business-1:before { content: "\f112"; }
.flaticon-key-1:before { content: "\f113"; }
.flaticon-construction-4:before { content: "\f114"; }
.flaticon-buy:before { content: "\f115"; }
.flaticon-home-4:before { content: "\f116"; }
.flaticon-search-1:before { content: "\f117"; }
.flaticon-real-estate:before { content: "\f118"; }
.flaticon-social:before { content: "\f119"; }
.flaticon-sign:before { content: "\f11a"; }
.flaticon-search:before { content: "\f11b"; }
.flaticon-business:before { content: "\f11c"; }
.flaticon-key:before { content: "\f11d"; }
.flaticon-buildings-1:before { content: "\f11e"; }
.flaticon-home-3:before { content: "\f11f"; }
.flaticon-home-2:before { content: "\f120"; }
.flaticon-home-1:before { content: "\f121"; }
.flaticon-construction-3:before { content: "\f122"; }
.flaticon-construction-2:before { content: "\f123"; }
.flaticon-hand:before { content: "\f124"; }
.flaticon-people-2:before { content: "\f125"; }
.flaticon-people-1:before { content: "\f126"; }
.flaticon-buildings:before { content: "\f127"; }
.flaticon-construction-1:before { content: "\f128"; }
.flaticon-people:before { content: "\f129"; }
.flaticon-construction:before { content: "\f12a"; }
.flaticon-building:before { content: "\f12b"; }
.flaticon-home:before { content: "\f12c"; }
.flaticon-shapes:before { content: "\f12d"; }
.flaticon-circle:before { content: "\f12e"; }
.flaticon-hexagon:before { content: "\f12f"; }
